@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');
body{
    background-color: wheat;
}
h2{
    font-family: 'Arvo', serif;
}
#heading{
    color: black;
    background-image: linear-gradient(blue, lightblue);
    max-width: 90%;
    text-align: center;
    transform: translateX(60px);
    box-shadow: 10px 5px 5px red;
    border-radius: 1em;
    
}
#info1{
    font-size: large;
    letter-spacing: normal;
    padding: 10px;
    background-image: linear-gradient(red, purple);
    color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    box-shadow: 10px 5px 5px gold;
    text-emphasis: none;
    border-radius: 1em;
}
@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');
#info2{
    font-family: 'Unbounded', cursive;
    font-size: large;
    letter-spacing: normal;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    background-image: linear-gradient(gray, black);
    color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    box-shadow: 10px 5px 5px darkgreen;
    border-radius: 1em;
}
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
#info3{
    font-family: 'Rye', cursive;
    text-align: center;
    font-size: large;
    letter-spacing: normal;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    box-shadow: 10px 5px 5px black;
    border-radius: 1em;
}
li {
    list-style-type: none;
  }