.btn-outline-info{
color: red;
}
body{
    background-image: linear-gradient(rgb(191, 162, 0), #BDD4E7);
}
#checklist{
    transform: translateX(20%);
    background-image: linear-gradient(#8693AB, #BDD4E7);
    max-height: 30%;
    max-width: 1000px;
    border-radius: 2em;
    padding-left: 5px;
}
ul {
    list-style-type: none;
  }
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
.form-control-label{
    font-size: large;
    font-family: 'Inconsolata', monospace;
text-decoration: underline;


}
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
.header{
    font-family: 'Inconsolata', monospace;
}
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
.btn-outline-info{

        padding: 15px 40px;
        background: green;
        border:0;
        color: #fff;
        text-transform: uppercase;
        font-family: 'Inconsolata', monospace;
        font-size: 12px;
        letter-spacing: 3px;
        position: relative;
        transition:all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
        cursor: pointer;
        display: block;
       left: 40%; 
      }
      
      .btn-outline-info::after,
      .btn-outline-info::before{
        content: "";
        position: absolute;
        top: 50%;
        right: 0px;
        transform: translateY(-50%);
          opacity: 0;
        transition:         all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
      }
      
      .btn-outline-info::after{
          width: 30px;
          height: 1px;
          background: white;
          transform: translateX(-3px);
          margin-top: 0px;
      }
      
      .btn-outline-info::before{
          content: "";
          transform: rotate(-135deg) translateX(50%);
          width: 11px;
          height: 11px;
          background: transparent;
          border-left: 1px solid white;
          border-bottom: 1px solid white;
        margin-top: -1px;
      }
      
      
      .btn-outline-info:hover{
        padding: 15px 60px 15px 20px;
      }
      
      .btn-outline-info:hover::after,
      .btn-outline-info:hover::before{
        opacity: 1;
        right: 15px;
      }
      
      
      

.form-div{
    font-family: 'Inconsolata', monospace;
    border-radius: 2em;
    border-color:#030200;
    background-image: linear-gradient(#FE0944, #FEAE96);
    background-color: red;
    padding: 50px;
    width: 40%;
    translate: 400px 0;
    text-decoration: underline;
}
.form-control{
    
    background-color: rgb(176, 167, 167);
    color: #030200;
    width: 500px;
    height: 31px;
    padding-left: 10px;
    line-height: normal;
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius: 3px;
    border-radius: 2em;
    box-shadow: 0 1px 0 rgb(255 255 255 / 50%), 0 1px 0 rgb(0 0 0 / 7%) inset;
    outline: 0;
    color: #111;
    font-size: 13px;}
    .form-control:focus{
        border-color: #e77600;
        box-shadow: 0 0 3px 2px rgb(228 121 17 / 50%);
    }

