#loginuser{
    color: red;
    border-radius: 20px;
    position: relative;
    
}
@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');
#loginheader{
    font-family: 'Unbounded', cursive;
    font-size: larger;
    background-color: yellow;
    max-width: max-content;
}
body{
    background: url(/static/BMW.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
#loginbox{
    border-radius: 1em;
    height: 500px;
    padding: 50px;
    width: 450px;
    transform: translate(20%, 40%);
    background-image: linear-gradient(#A71D31, #3F0D12);
    animation: slideDown ease 2s forwards;
}
#logindiv{
    padding-top: 40px;
}


#loginuserlabel{
    opacity: 0.8;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 80%;
    border-radius: 2px;
    background-color: rgb(226, 224, 224);
    font-size: xx-large;
    font-family: 'IBM Plex Mono', monospace;
    color: blue;
    text-decoration: underline;
}
#loginpasslabel{
    opacity: 0.8;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 80%;
    border-radius: 2px;
    background-color: rgb(231, 231, 231);
    font-size: xx-large;
    font-family: 'IBM Plex Mono', monospace;
    color: purple;
    text-decoration: underline;
}
#creatediv{
    padding: 10px;
}



#create{
    left: -8%;
    height: 200%;
    width: 110%;
    display: inline-block;
    outline: 0;
    border: 0;
    background-image: linear-gradient(to right,#57ad6c,#145b0e);
    cursor: pointer;
    border-radius: 2em;
    color: #fff;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    height: 36px;
    line-height: 36px;
    padding:   0 5px;
    font-size: 14px;
    


    animation:bouncy 5s infinite linear;
position:relative;}

#create:hover {
    background-image: linear-gradient(to right,#dde32e,#e43930);
}
#loginuser{
    
    box-shadow: inset #abacaf 0 0 0 2px;
    border: 0;
    background: rgba(0, 0, 0, 0);
    appearance: none;
    width: 80%;
    position: relative;
    border-radius: 3px;
    padding: 9px 12px;
    line-height: 1.4;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    transition: all .2s ease;}
    #loginuser:hover{
        box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 2px;
    }
    #loginuser:focus{
        background: #fff;
        outline: 0;
        box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 3px;
    }

#loginpass{
    
    box-shadow: inset #abacaf 0 0 0 2px;
    border: 0;
    background: rgba(0, 0, 0, 0);
    appearance: none;
    width: 80%;
    position: relative;
    border-radius: 3px;
    padding: 9px 12px;
    line-height: 1.4;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    transition: all .2s ease;}
    #loginpass:hover{
        box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 2px;
    }
    #loginpass:focus{
        background: #fff;
        outline: 0;
        box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 3px;
    }


#loginsubmit{
    left: -8%;
    height: 200%;
    width: 110%;
    display: inline-block;
    outline: 0;
    border: 0;
    background-image: linear-gradient(to right,#e052a0,#f15c41);
    cursor: pointer;
    border-radius: 2em;
    color: #fff;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    height: 36px;
    line-height: 36px;
    padding:   0 5px;
    font-size: 14px;
    


    animation:bouncy 5s infinite linear;
position:relative;}

#loginsubmit:hover {
    background-image: linear-gradient(to right,#3ec7e0,#526bf4);
}
        @keyframes bouncy {
0%{top:0em}
40%{top:0em}
43%{top:-0.9em}
6%{top:0em}
48%{top:-0.4em}
50%{top:0em}
100%{top:0em;}
        
}



@keyframes slideDown {
    0% {transform: translateX(0) translateY(0);}
    100% {transform: translateX(150px) translateY(40px);opacity:1;}
  }
  
#message{
    max-width: 400px;
}